@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css);

.wrapper {
  padding-right: var(--ifm-navbar-item-padding-horizontal);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 6px;
  background: var(--docsearch-modal-background);
  max-width: 800px;
  height: 600px;
}

.modalPrompt {
  padding: 20px;
  box-shadow: var(--docsearch-modal-shadow);
  height: calc(600px - var(--docsearch-footer-height));
}
