.wrapper {
  margin-right: var(--spacer-3);
}

.modalWrapper {
  padding-right: var(--ifm-navbar-item-padding-horizontal);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 6px;
  background: var(--docsearch-modal-background);
  max-width: 800px;
  height: 600px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.modalPrompt {
  padding: 20px;
  box-shadow: var(--docsearch-modal-shadow);
  height: calc(600px - var(--docsearch-footer-height));
}

.contentWrapper {
  position: "relative";
  display: "flex";
  flex-direction: "column";
  height: "100%";
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--docsearch-text-color);
  flex: 1;
  font: inherit;
  font-size: 1.2em;
  height: 100%;
  outline: none;
  padding: 0 0 0 8px;
  width: 80%;
}

.form {
  align-items: center;
  background: var(--docsearch-searchbox-focus-background);
  border-radius: 4px;
  box-shadow: var(--docsearch-searchbox-shadow);
  display: flex;
  height: var(--docsearch-searchbox-height);
  margin: 0;
  padding: 0 var(--docsearch-spacing);
  position: relative;
  width: 100%;
}

.prose {
  height: calc(500px - var(--docsearch-footer-height));
  margin-top: 1rem;
  background-color: var(--ifm-background-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  overflow-y: auto;
  max-width: 100%;
  padding: 1rem;
}

.summary {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-top: 1px solid rgba(229, 231, 235, 1);
  padding-top: 1rem;
  margin-top: 2rem;
}

.summaryItems {
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.caret {
  width: 8px;
  height: 15px;
  background-color: var(--ifm-color-primary);
  border-radius: 1px;
  box-shadow: var(--ifm-global-shadow-lw);
  display: inline-block;
}
