.compactCard {
  display: flex;
  flex-direction: column;
  background-color: var(--gray2);
  border: 1px solid var(--gray5);
  border-radius: 8px;
  width: 260px;
  text-decoration: none;
  color: var(--gray12);
  padding: var(--spacer-2);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}
.compactCard:hover {
  text-decoration: none;
  background-color: var(--gray1);
  border-bottom-width: 1px !important;
}

.compactCardContent {
  padding: var(--spacer-2);
}

.compactCardHeader {
  display: flex;
  align-items: center;
  gap: var(--spacer-1);
  margin-bottom: var(--spacer-1);
}

.compactCardIcon {
  width: 28px;
  height: 28px;
  fill: var(--gray9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.compactCardTitle {
  margin: 0;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--gray12);
}

.compactCardDescription {
  margin: 0;
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacer-2);
  color: var(--gray9);
}

.compactCardFooter {
  display: flex;
  justify-content: flex-start;
}

.technologyTag {
  background-color: var(--gray4);
  color: var(--gray11);
  padding: var(--spacer-1) var(--spacer-2);
  border-radius: 8px;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
