{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "overrides": [
    {
      "files": ["*.mdx"],
      "extends": "plugin:mdx/recommended"
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  },
  "plugins": ["import", "simple-import-sort", "react"],
  "settings": {
    "mdx/code-blocks": true,
    "react": {
      "version": "detect"
    }
  }
}
