{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,ts,tsx,jsx}": "eslint --cache --fix",
  "*": "prettier --write --ignore-unknown",
  "*.{ts,tsx,md,js,jsx}": "cspell --no-must-find-files"
}
