build/
.docusaurus/

# Temporarily excludes all .mdx files except fixed files until we are done
# formatting all files
**/*.mdx
!docs/api-usage/**/*.mdx
!docs/cloud/**/*.mdx
!docs/demos/**/*.mdx
!docs/overview/**/*.mdx
!docs/recipes/**/*.mdx
!docs/security/**/*.mdx
!docs/setup/**/*.mdx
!docs/upgrade-guides/**/*.mdx
