.links {
  color: var(--gray10) !important;
  padding-top: calc(var(--spacer-6));
  font-size: var(--font-size-xs);
}

.links a {
  color: var(--gray10) !important;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-1);
  font-size: var(--font-size-sm);
}

.actions > * {
  color: var(--gray10);
  display: flex;
  align-items: center;
}

.actions svg {
  margin-right: var(--spacer-2);
}
