.links {
  color: var(--gray10) !important;
  padding-top: calc(var(--spacer-6));
  font-size: var(--font-size-xs);
}

.links a {
  color: var(--gray10) !important;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-1);
  font-size: var(--font-size-sm);
}

.actions > * {
  color: var(--gray10);
  display: flex;
  align-items: center;
}

.actions svg {
  margin-right: var(--spacer-2);
}

.copyButton {
  border: none;
  background: none;
  color: var(--gray12);
  font-size: var(--font-size-sm);
  line-height: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 22px;
  text-decoration: none;
}

.copyButton:hover {
  text-decoration: underline;
}
