.mermaid {
  margin: var(--ifm-leading) 0;
}

.mermaid svg {
  display: block;
  margin: 0 auto;
}

.mermaid .label {
  font-family: var(--ifm-font-family-base);
  color: var(--ifm-font-color-base);
}

.mermaid .label text {
  fill: var(--ifm-font-color-base);
}

.mermaid .node rect,
.mermaid .node circle,
.mermaid .node ellipse,
.mermaid .node polygon,
.mermaid .node path {
  fill: var(--ifm-color-emphasis-100);
  stroke: var(--ifm-color-emphasis-500);
  stroke-width: 1px;
}

.mermaid .node .label {
  font-size: var(--ifm-font-size-base);
  text-align: center;
}
.mermaid .node.clickable {
  cursor: pointer;
}

.mermaid .arrowheadPath {
  fill: var(--ifm-color-emphasis-500);
}

.mermaid .edgePath .path {
  stroke: var(--ifm-color-emphasis-500);
  stroke-width: 1.5px;
}

.mermaid .edgeLabel {
  background-color: var(--ifm-background-surface-color);
  font-size: calc(var(--ifm-font-size-base) * 0.8);
  text-align: center;
}

.mermaid .cluster rect {
  fill: transparent;
  stroke: var(--ifm-color-emphasis-400);
  stroke-dasharray: 4;
  stroke-width: 1px;
}

.mermaid .cluster text {
  fill: var(--ifm-font-color-base);
}

.mermaid .cluster .label {
  font-size: calc(var(--ifm-font-size-base) * 0.8);
  text-align: center;
}

.mermaid div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: var(--ifm-font-family-base);
  font-size: var(--ifm-font-size-base);
  background: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-color-emphasis-500);
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}

.mermaid .actor {
  fill: var(--ifm-color-emphasis-100);
  stroke: var(--ifm-color-emphasis-500);
  stroke-width: 1px;
}

.mermaid text.actor {
  fill: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
  font-size: var(--ifm-font-size-base);
  stroke: none;
}

.mermaid .actor-line {
  stroke: var(--ifm-color-emphasis-500);
}

.mermaid .messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: var(--ifm-color-emphasis-500);
}

.mermaid .messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  stroke: var(--ifm-color-emphasis-500);
}

.mermaid #arrowhead {
  fill: var(--ifm-color-emphasis-500);
}

.mermaid .messageText {
  fill: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
  font-size: calc(var(--ifm-font-size-base) * 0.8);
}



.mermaid rect{
  fill: var(--ifm-color-emphasis-100);
  stroke: var(--ifm-color-emphasis-300);
  stroke-width: 1px;
}