.meteorContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 38px;
  margin: auto;
  z-index: -1;
  height: 429px;
  width: 900px;
  gap: 38px;
  overflow: hidden;
}

@keyframes meteor {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  2% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(900px) scaleX(3);
    opacity: 0;
  }
}
.meteor {
  animation-name: meteor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 60px;
  height: 1px;
  z-index: -1;
  left: 50%;
  opacity: 0;
  position: relative;
  background: linear-gradient(-90deg, var(--gray8) 0, transparent 100%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  margin: auto;
  height: 429px;
  z-index: -1;
  width: 900px;
  overflow: hidden;
  transform: skew(-40deg);
}

.container:after,
.meteorContainer:after {
  content: "";
  display: block;
  background: radial-gradient(100% 100% at 60% 0%, transparent 0%, white 70%);
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

html[data-theme="dark"] .container:after,
html[data-theme="dark"] .meteorContainer:after {
  background: radial-gradient(
    100% 100% at 50% 0%,
    transparent 0%,
    var(--gray2) 60%
  );
}

.tile {
  width: 90px;
  height: 40px;
  border: 1px solid var(--gray5);
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
  transition-property: background-color;
  transition-duration: 1s;
}

.highlight {
  background-color: var(--gray2);
}
