.root {
  width: 100%;
  border-top: solid 1px var(--ifm-color-emphasis-200);
  border-bottom: solid 1px var(--ifm-color-emphasis-200);
}
.step {
  display: flex;
}
.stepSection {
  padding-left: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.code {
  padding-bottom: 2rem;
}

@media (min-width: 1440px) {
  .stepSection {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
  }

  .details {
    padding-bottom: 2rem;
  }
}

.step:first-child {
  margin-top: 5rem;
}
.step:last-child {
  margin-bottom: 5rem;
}

.step:last-child .line {
  display: none;
}

.connection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stepNumber {
  display: flex;
  border-radius: 100%;
  border: solid 1px var(--ifm-color-emphasis-200);
  min-width: 28px;
  min-height: 28px;
  font-size: var(--ifm-h5-font-size);
  align-items: center;
  justify-content: center;
}

.line {
  height: 100%;
  width: 1px;
  border-left: 1px solid var(--ifm-color-emphasis-200);
}
.details {
  grid-column: span 5;
}

.code {
  grid-column: span 7;
}

.column {
  max-width: 600px;
}
