.twoColumn {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-bottom: var(--spacer-5);
}
@media (min-width: 1440px) {
  .twoColumn {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
  }

  .twoColumn *:first-child {
    grid-column: span 5;
  }

  .twoColumn *:nth-child(2) {
    grid-column: span 7;
  }
}
