.root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: var(--spacer-5) 0;
  border-bottom: 1px solid var(--gray5);
  container-type: inline-size;
}

.root h2 {
  grid-column: 1 / 4;
}

.root .container {
  grid-column: 4 / -1;
}

@container (width < 850px) {
  .root h2 {
    grid-column: 1 / 12;
  }
  .root .container {
    grid-column: 1 / 12;
  }
}
