/* Cards with icons */
.post .home-grid a {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 98px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #3c3e4c;
}

.post .home-grid a:active,
.post .home-grid a:hover {
  border: 1px solid #eaeaea;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.post .home-grid a img {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 25px;
  top: 20px;
}

.post .home-grid a strong {
  display: block;
  margin-bottom: 10px;
  color: #2d294f;
}

/* Plain cards without icons */
.post .card-grid a {
  width: 320px !important;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  border: solid 1px #525f7f;
  color: #525f7f;
}

.post .card-grid a:active,
.post .card-grid a:hover {
  text-decoration: none;
  background: #edf5f8;
}

.post .card-grid a strong {
  display: block;
  color: #525f7f;
}

/* Make grids responsive*/
@media only screen and (min-width: 1240px) {
  .post .card-grid,
  .post .home-grid {
    display: flex;
    justify-content: space-between;
  }

  .post .card-grid a,
  .post .home-grid a {
    width: 340px;
  }
}

/* Add spacing between grids and sections */
h2 + .card-grid,
h2 + .home-grid {
  border-top: 1px solid rgba(61, 61, 61, 0.1);
  margin-top: 10px;
  padding-top: 30px;
}

.card-grid + h2,
.home-grid + h2 {
  padding-top: 20px;
}

p + .card-grid,
p + .home-grid {
  padding-top: 30px;
}
