/* Page header */
.mainContainer .wrapper .post .postHeaderTitle {
  margin-top: 20px;
  font-size: 36px;
  line-height: 43px;
}

@media only screen and (min-width: 1024px) {
  .mainContainer .wrapper .post .postHeaderTitle {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

/* Other headers */
.post h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.post h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.post h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.post h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.post h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* Button */
.pillbutton {
  padding: 5px 7px;
  background-color: #0c7d7b;
  border-radius: 8px;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
}

/* Links */
.post article a:hover,
.post article a:focus {
  text-decoration: underline;
}

/* Images */
.post article img {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 4px solid #f6fafa;
}

@media only screen and (min-width: 1024px) {
  .post article img {
    border-width: 8px;
  }
}

/* Quotes */
blockquote {
  border-left: 8px solid #f2cb2c;
  font-size: 16px;
  padding: 30px;
  padding-left: 22px;
  background: #fffbe6;
  color: #3d3d3d;
}


/* Vertical rhythm */
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post p,
.post ol,
.post ul {
  margin: 0
}

.post h2 + p,
.post h3 + p,
.post h4 + p,
.post h5 + p,
.post h6 + p {
  padding-top: 10px;
}

.post h2 + h3,
.post h3 + h4,
.post h4 + h5,
.post h5 + h6 {
  padding-top: 20px;
}

.post p {
  padding-top: 20px;
}

.post p + h2,
.post p + h3,
.post p + h4,
.post p + h5,
.post p + h6 {
  padding-top: 30px;
}

.post p img {
  margin-top: 10px;
  margin-bottom: 20px;
}

.post blockquote {
  margin-top: 20px;
}

.post blockquote + h2,
.post blockquote + h3,
.post blockquote + h4,
.post blockquote + h5,
.post blockquote + h6 {
  padding-top: 30px;
}

.post blockquote p:first-child,
.post blockquote p:first-child img {
  margin-top: 0;
  padding-bottom: 0;
}

.post blockquote p:last-child,
.post blockquote p:last-child img {
  margin-bottom: 0;
  padding-bottom: 0;
}

.post ul li {
  padding-top: 20px;
  list-style-type: square;
}

.post h2 + ul,
.post h3 + ul,
.post h4 + ul,
.post h5 + ul,
.post h6 + ul,
.post h2 + ol,
.post h3 + ol,
.post h4 + ol,
.post h5 + ol,
.post h6 + ol {
  padding-top: 10px;
}

.post ul + h2,
.post ul + h3,
.post ul + h4,
.post ul + h5,
.post ul + h6,
.post ol + h2,
.post ol + h3,
.post ol + h4,
.post ol + h5,
.post ol + h6 {
  padding-top: 30px;
}

.post h2 + pre,
.post h3 + pre,
.post h4 + pre,
.post h5 + pre,
.post h6 + pre {
  margin-top: 10px;
}

.post pre + h2,
.post pre + h3,
.post pre + h4,
.post pre + h5,
.post pre + h6 {
  padding-top: 30px;
}

.post p + pre,
.post p + pre,
.post p + pre,
.post p + pre,
.post p + pre {
  margin-top: 20px;
}

.post blockquote + p,
.post blockquote + ul li:first-child,
.post blockquote + ol li:first-child,
.post pre + p,
.post pre + ul li:first-child,
.post pre + ol li:first-child {
  padding-top: 0;
}

.post table {
  margin-top: 20px;
}

.post table + h2,
.post table + h3,
.post table + h4,
.post table + h5,
.post table + h6 {
  padding-top: 30px;
}