/* your custom css */
body {
  color: #3c3e4c;
  font-family: $inter;
}

.button {
  color: #525f7f;
  border: 1px solid #525f7f;
}

.button:hover {
  background: #edf5f8;
  color: inherit;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}