.docs-footer {
  background: #f5fafb;
  font-family: "hero-new";
}

.docs-footer .wrapper {
  width: 1400px;
}

.docs-footer-top {
  width: 100%;
  display: grid;
  padding: 45px 45px 20px 45px;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.newsletter {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.newsletter span {
  color: #28234a;
  opacity: 0.7;
  font-size: 14px;
}

.newsletter-input-wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  position: relative;
}

.newsletter-input {
  background: #f5fafb;
  border: none;
  outline: none;
  color: #28234a;
  font-size: 14px;
  font-family: "hero-new";
}

.newsletter-input::placeholder {
  color: #cccccf;
}

.newsletter-input:focus + small {
  opacity: 1;
}

.newsletter-input-wrapper small {
  position: absolute;
  width: 33%;
  border-bottom: solid 1px #28234a;
  top: 56px;
  opacity: 0;
  transition: opacity 0.5s;
}

.newsletter-submit-button {
  background: #f5fafb;
  font-family: "hero-new";
  border: none;
  outline: none;
  color: #28234a;
  font-size: 14px;
  text-transform: uppercase;
}

.social-icons {
  text-align: right;
  padding-right: 25px;
}

.social-icons a {
  padding: 0 30px;
  opacity: 1;
  transition: opacity 0.5s;
}
.social-icons a:hover {
  opacity: 0.7;
}

.social-icons span {
  color: #74728c;
  font-family: "hero-new";
  font-size: 14px;
  position: relative;
  bottom: 10px;
  right: 20px;
}

.docs-footer-menu {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 10fr;
  padding: 50px 35px;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-menu-wrapper {
  padding: 0 30px 0 0;
}

.footer-menu-wrapper h2 {
  color: #28234a;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px;
  font-family: "hero-new";
}

.footer-menu ul {
  width: 100%;
  list-style: none;
  padding: 15px 10px;
}

.footer-menu ul li a {
  font-family: "hero-new";
  color: #28234a;
  font-size: 14px;
  opacity: 0.6;
  line-height: 210%;
}
.footer-menu ul li a:hover {
  color: #28234a;
  opacity: 1;
  transition: color 0.5s, opacity 0.5s;
}

.docs-footer-menu .logo img {
  width: 98px;
  height: 37px;
}

.dosc-footer-copyrights {
  display: grid;
  padding: 20px 0 40px 0;
  grid-template-columns: repeat(2, 1fr);
}

.copyrights {
  padding-left: 35px;
}

.copyrights span {
  color: #a9a7b7;
  font-size: 14px;
}

.copyrights span a {
  color: #28234a;
  padding-left: 5px;
}

.dosc-footer-links {
  text-align: right;
  padding-right: 70px;
}

.dosc-footer-links a {
  padding-right: 20px;
  color: #3d3d3d;
  opacity: 0.5;
  font-size: 14px;
}

.dosc-footer-copyrights a:hover {
  text-decoration: underline;
}
