.docs-footer {
  background: #f5fafb;
  font-family: "hero-new";
}

.docs-footer .wrapper {
  width: 1400px;
}

.docs-footer-top {
  width: 100%;
  display: grid;
  padding: 45px 45px 20px 45px;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 585px) {
  .docs-footer-top {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .docs-footer {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1075px) {
  .docs-footer-top {
    grid-template-columns: 1fr;
  }
}

.newsletter {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.newsletter span {
  color: #28234a;
  opacity: 0.7;
  font-size: 14px;
}

.newsletter-input-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  position: relative;
}

.newsletter-input {
  background: #f5fafb;
  border: none;
  outline: none;
  color: #28234a;
  font-size: 14px;
  font-family: "hero-new";
}

.newsletter-input::placeholder {
  color: #cccccf;
}

#mce-error-response {
  font-size: 13px;
  color: red;
  padding-top: 5px;
}

#mce-error-response a {
  color: red !important;
}
#mce-error-response a:hover {
  text-decoration: underline;
}

#mce-success-response {
  color: green;
  font-size: 13px;
  padding-top: 5px;
}

.newsletter-input:focus + small {
  opacity: 1;
}

.newsletter-input-wrapper small {
  position: absolute;
  width: 66%;
  border-bottom: solid 1px #28234a;
  top: 56px;
  opacity: 0;
  transition: opacity 0.5s;
}

.newsletter-submit-button {
  background: #f5fafb;
  font-family: "hero-new";
  border: none;
  outline: none;
  color: #28234a;
  font-size: 14px;
  text-transform: uppercase;
}

#mc_embed_signup div.mce_inline_error {
  position: absolute;
  background-color: initial !important;
  color: red !important;
  font-size: 12px;
  font-weight: 400 !important;
  top: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (max-width: 1165px) {
  .newsletter-input-wrapper small {
    top: 62px;
  }
}
@media only screen and (max-width: 1165px) {
  .newsletter-input-wrapper small {
    width: 66%;
    top: 45px;
  }
}

@media only screen and (max-width: 585px) {
  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 20px;
  }
  .newsletter span {
    padding-bottom: 20px;
  }
  .newsletter-input-wrapper small {
    width: 66%;
    top: 35px;
  }
  .newsletter-input-wrapper {
    grid-template-columns: 6fr 3fr;
  }
}

.social-icons {
  text-align: left;
  padding-right: 25px;
}

.social-icons a {
  padding: 0 30px;
  opacity: 1;
  transition: opacity 0.5s;
}
.social-icons a:hover {
  opacity: 0.7;
}

.social-icons span {
  color: #74728c;
  font-family: "hero-new";
  font-size: 14px;
  position: relative;
  bottom: 10px;
  right: 0;
}

@media only screen and (max-width: 1079px) {
  .social-icons {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .social-icons a {
    padding: 0 20px;
    opacity: 1;
    transition: opacity 0.5s;
  }
}

@media only screen and (max-width: 585px) {
  .social-icons {
    text-align: left;
    padding-left: 0;
    padding-bottom: 20px;
    padding-top: 30px;
    position: static;
  }
  .social-icons a {
    padding: 0 15px;
  }
  .social-icons span {
    display: block;
    padding-top: 10px;
  }
}

.docs-footer-menu {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 10fr;
  padding: 50px 35px;
}

@media only screen and (max-width: 585px) {
  .docs-footer-menu {
    padding: 50px 0;
    grid-template-columns: 1fr;
  }
  .docs-footer-menu .logo {
    order: 2;
  }
}

@media only screen and (max-width: 769px) {
  .docs-footer-menu {
    grid-template-columns: 1fr;
  }
  .docs-footer-menu .logo {
    padding-bottom: 40px;
  }
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 585px) {
  .footer-menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.footer-menu-wrapper {
  padding: 0 30px 0 0;
}

.footer-menu-wrapper h2 {
  color: #28234a;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px;
  font-family: "hero-new";
}

.footer-menu ul {
  width: 100%;
  list-style: none;
  padding: 15px 10px;
}

.footer-menu ul li a {
  font-family: "hero-new";
  color: #28234a;
  font-size: 14px;
  opacity: 0.6;
  line-height: 210%;
}
.footer-menu ul li a:hover {
  color: #28234a;
  opacity: 1;
  transition: color 0.5s, opacity 0.5s;
}

.docs-footer-menu .logo img {
  width: 98px;
  height: 37px;
}

@media only screen and (max-width: 585px) {
  .docs-footer-menu .logo {
    padding-bottom: 40px;
  }
}

.dosc-footer-copyrights {
  display: grid;
  padding: 20px 0 40px 0;
  grid-template-columns: repeat(2, 1fr);
}

.copyrights {
  padding-left: 35px;
}

.copyrights span {
  color: #a9a7b7;
  font-size: 14px;
}

.copyrights span a {
  color: #28234a;
  padding-left: 5px;
}

.dosc-footer-links {
  text-align: right;
  padding-right: 70px;
}

@media only screen and (max-width: 585px) {
  .dosc-footer-links {
    display: none;
  }
}

@media only screen and (max-width: 585px) {
  .dosc-footer-copyrights {
    grid-template-columns: 1fr;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    padding: 20px 0 20px 0;
  }
  .copyrights {
    padding-left: 0;
  }
}

.dosc-footer-links a {
  padding-right: 20px;
  color: #3d3d3d;
  opacity: 0.5;
  font-size: 14px;
}

.dosc-footer-copyrights a:hover {
  text-decoration: underline;
}
