/* Sidecolumn */
@media only screen and (min-width: 1024px) {
  body {
    background: #fff;
    background-size: 363px;
    background-repeat: repeat-y;
  }
}

.docs-prevnext .arrow-prev,
.docs-prevnext .arrow-next {
  top: 30px !important;
  width: 12px !important;
  height: 12px !important;
}

.docs-prevnext .docs-prev span:last-child::before,
.docs-prevnext .docs-next span:first-child::before {
  font-size: 12px;
  line-height: 17px !important;
  color: #21125e !important;
  font-family: "hero-new";
  font-weight: 500;
}

.docs-prevnext .docs-prev span:last-child,
.docs-prevnext .docs-next span:first-child {
  font-size: 16px;
  color: #525f7f;
  font-family: "hero-new";
  text-transform: initial;
}

.mainContainer {
  padding: 0 0 40px 0;
}

/* header & nav */
.fixedHeaderContainer {
  height: 90px;
  padding-top: 28px;
  background: #fff;
  margin-bottom: 40px;
}

.fixedHeaderContainer header a:nth-child(2) {
  display: inline-block;
  background: #ffffff;
  border-radius: 4px;
  height: auto;
  padding: 5px 10px;
}
.fixedHeaderContainer header a:nth-child(2):hover {
  background: #f6fafa;
}

.fixedHeaderContainer header a:nth-child(2) h3 {
  background-image: url("../img/arrow-version.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 6px 8px;
  margin: 0;
  font-size: 16px;
  padding: 10px 0;
  padding-right: 14px;
  color: #28234a;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.fixedHeaderContainer header a:nth-child(2):hover h3 {
  background-image: url("../img/arrow-version.png");
}

.fixedHeaderContainer a {
  z-index: 998;
}

.singleRowMobileNav.navPusher {
  padding-top: 90px;
}

.docsNavContainer .toc .navBreadcrumb {
  background: none;
  border: none;
}

.docsNavContainer .toc .navBreadcrumb h2 {
  display: none;
}

.docsNavContainer .toc .toggleNav .subNavGroup ul {
  padding-left: 10px;
}

.toc .toggleNav .navGroup {
  border-bottom: 1px solid rgba(61, 61, 61, 0.1);
}

.pillbutton {
  padding: 2px 7px;
  background-color: #fff;
  border-radius: 0;
  color: #0c7d7b;
  font-weight: 600;
  text-transform: uppercase;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  font-size: 16px;
  display: none;
}

.toc .toggleNav .navGroup ul {
  margin-bottom: 8px;
  padding-left: 0;
}

.toc .toggleNav ul li {
  padding: 5px 0;
}

.toc .toggleNav ul li a {
  font-size: 16px;
  color: #3d3d3d;
}

.toc .toggleNav ul li.navListItemActive a {
  font-weight: bold;
}

.toc .navGroup.subNavGroup {
  margin-bottom: 8px;
  border: none;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

.toc .navGroups .navGroup .subNavGroup:last-child {
  border-bottom: 0;
}

.toc .navGroups .navGroup .navListItem + .subNavGroup {
  border-top: 1px solid rgba(61, 61, 61, 0.1);
  margin-top: 6px;
  padding-top: 8px;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: #525f7f;
  font-size: 16px;
  line-height: 20px;
  font-family: "hero-new";
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
  color: #525f7f;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "hero-new";
  font-weight: 500;
  padding: 10px 0;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle:hover {
  color: #525f7f;
}

.toc .toggleNav .navGroup .navListItem a {
  color: #525f7f;
  font-size: 14px;
  line-height: 20px;
  font-family: "hero-new";
}

.toc .toggleNav .navGroup .navListItem.categoryHeader {
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 500;
}

.toc .toggleNav .navGroup .navListItemActive a {
  color: #036dff;
  font-weight: 500;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background: none;
  color: #28234a;
  position: relative;
}

.navigationSlider .slidingNav ul li > a:hover::after {
  content: "";
  width: 60px;
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 2px #036dff;
}

.slidingNav .siteNavGroupActive.siteNavItemActive {
  position: relative;
}

.slidingNav .siteNavGroupActive.siteNavItemActive:hover::after {
  border-color: #036dff;
}

.slidingNav .siteNavGroupActive.siteNavItemActive:after {
  content: "";
  width: 60px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 2px #21125e;
}

@media only screen and (max-width: 1024px) {
  .slidingNav .siteNavGroupActive.siteNavItemActive:after {
    bottom: -5px;
  }
  .navigationSlider .slidingNav ul li > a:hover::after {
    bottom: -5px;
  }
}

@media only screen and (max-width: 568px) {
  .slidingNav .siteNavGroupActive.siteNavItemActive:after {
    border: none;
  }
  .navigationSlider .slidingNav ul li > a:hover::after {
    border: none;
  }
}

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer {
    position: static;
    background: none;
    padding: 0;
  }

  .headerWrapper {
    padding: 0 20px;
  }

  .headerWrapper header {
    border-bottom: solid 1px rgba(40, 35, 74, 0.1);
  }

  .singleRowMobileNav.navPusher {
    padding-top: 0;
  }

  .navPusher {
    padding-top: 40px;
  }

  .docMainWrapper.wrapper {
    padding-left: 0;
  }

  .fixedHeaderContainer header > a:first-child {
    display: block;
    width: 250px;
    padding: 30px 0;
    height: auto;
  }

  .fixedHeaderContainer header > a:first-child img {
    width: 150px;
    height: 40px;
  }

  .fixedHeaderContainer header > a:nth-child(2) {
    display: block;
    position: absolute;
    top: 32px;
    left: 160px;
  }

  .separateOnPageNav .docsNavContainer {
    flex: 0 0 363px;
    top: 0;
    width: 363px;
    padding: 0 56px;
    margin-bottom: 30px;
  }

  .docsNavContainer:empty {
    background: none;
  }

  .toc {
    padding-top: 10px;
  }

  .navigationSlider {
    position: static;
    height: auto;
    margin: 0;
    margin-top: 32px;
  }

  .navigationSlider .nav-site {
    margin: auto;
    max-width: 700px;
  }

  .navigationSlider .nav-site li.next {
    display: none;
  }

  .navigationSlider .slidingNav ul li a {
    font-family: "hero-new";
    color: #28234a;
    padding: 24px 20px;
    transition: font-weight 0.5s;
  }
  .navigationSlider .slidingNav ul li a:hover {
    color: #28234a;
    background: initial;
  }

  .navSearchWrapper {
    position: relative !important;
    display: block;
    left: 0 !important;
    padding: 0 20px 0 0;
  }

  .navSearchWrapper input {
    max-width: 400px;
    height: 48px;
    color: #cccccf;
  }
  .navSearchWrapper::before {
    width: 20px;
    height: 20px;
    left: 20px;
    top: 27px;
  }
  .navSearchWrapper::after {
    left: 44px;
    top: 62%;
    height: 10px;
  }
}

/* Page nav */
.tocActive .onPageNav {
  padding-top: 16px;
}

.onPageNav:not(:empty)::before {
  content: "On this page";
  color: #525f7f;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.4;
  font-family: "hero-new";
}

.onPageNav ul ul {
  padding-left: 0;
  font-family: "hero-new";
  padding-top: 15px;
}
.onPageNav ul ul li {
  padding-left: 0;
  font-family: "hero-new";
  padding-bottom: 9px;
}

.onPageNav ul li a {
  color: #525f7f;
  font-family: "hero-new";
}

.onPageNav > .toc-headings {
  padding-top: 20px;
}

.onPageNav > .toc-headings > li {
  padding-bottom: 10px;
}

.onPageNav > .toc-headings > li > a {
  font-size: 14px;
  color: #525f7f;
  font-family: "hero-new";
}

.onPageNav > .toc-headings > li > a:hover {
  color: #21125e;
  font-weight: 500;
}

.onPageNav .toc-headings > li > a.active {
  color: #036dff;
  font-weight: normal;
  padding-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 5px;
}

.onPageNav .toc-headings > li > a.active:hover {
  color: #21125e;
}

.toc .toggleNav .navGroup .navListItem a:hover {
  color: #21125e;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .onPageNav {
    top: 35px;
  }

  .onPageNav.none {
    display: none !important;
  }

  .onPageNav > .toc-headings {
    border-left: none;
    padding-left: 0;
  }

  .onPageNav > .toc-headings a:hover {
    color: #21125e;
    font-weight: bold;
  }
}

.nav-site.nav-site-internal ul li a:hover {
  color: #21125e;
  font-weight: bold;
}

/* SUBMENU */

.toc .navGroups .navGroup .navListItem + .subNavGroup {
  border: none;
  padding: 5px 0;
  margin: 0;
  cursor: pointer;
}

.toggleNav .subNavGroup.active ul {
  display: block;
}

.toggleNav .subNavGroup.active {
  position: relative;
}

.toggleNav .subNavGroup.active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #036dff;
  left: -56px;
}

.toggleNav .subNavGroup.active .navGroupSubcategoryTitle {
  color: #036dff;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

.menuSection {
  display: none !important;
}

.menuSpacer {
  display: none !important;
}

/* Footer */
.docs-footer {
  display: flex;
  align-items: stretch;
  border-top: 1px solid rgba(60, 62, 76, 0.05);
  padding: 33px 0;
}

.footer-icon {
  display: flex;
  align-items: center;
}

.footer-body {
  flex: 1;
  text-align: right;
}

.footer-body .wrapper {
  padding: 0;
}

.footer-body a span {
  font-size: 14px;
  color: #3d3d3d;
  opacity: 0.4;
}

.footer-body span {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .docs-footer {
    border-top: 0;
    margin: 0;
    padding: 0;
  }

  .footer-icon {
    width: 363px;
    padding-left: 50px;
  }

  .footer-body .wrapper {
    border-top: 1px solid rgba(60, 62, 76, 0.05);
    margin: 0 40px;
    padding: 30px 0;
  }

  .footer-body a span {
    display: inline;
    margin-left: 0.25em;
  }
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h5 {
  color: #2d294f;
}

.post h1 {
  font-size: 48px !important;
  font-family: "hero-new";
  line-height: 1.2 !important;
}
.post article h2 {
  font-size: 36px;
  font-family: "hero-new";
  padding-bottom: 20px;
  line-height: 1.5;
}
.post article h3 {
  font-size: 30px;
  font-family: "hero-new";
  padding-bottom: 20px;
}
.post p {
  color: #525f7f;
}

.post p a {
  color: #036dff;
}

.post blockquote ul li {
  list-style: initial;
}

/* Limit post column to 700px */

@media only screen and (min-width: 0px) {
  .tocToggler {
    display: none;
  }
  .docsNavContainer {
    top: 85px;
  }
  #navToggler {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../img/fixed-mobile.svg");
  }
  #navToggler .hamburger-menu {
    display: none;
  }
  .docsSliderActive #navToggler {
    background-image: url("../img/fixed-mobile-close.svg");
  }

  .docsSliderActive .toc section .navGroups {
    padding-top: 0;
  }
  .navigationSlider .slidingNav ul {
    background: #fff;
    margin-top: 95px;
  }

  .post {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .post .home-grid {
    border: none;
  }
  .post .home-grid a {
    width: 100%;
    color: #525f7f;
    border: none;
    border-radius: 0;
  }
  .post .home-grid a:hover {
    background: #edf5f8;
    box-shadow: none;
    border: none;
  }
  .home .post article h1 {
    font-size: 72px;
    font-family: "hero-new";
    margin-top: 0;
    font-weight: 400;
    padding-left: 25px;
  }
  .home .postHeaderTitle {
    display: none;
  }
  .home .post article h2 {
    font-size: 48px;
    font-family: "hero-new";
    padding-top: 50px;
    padding-left: 25px;
  }
  .home .post article h6 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 00;
    padding-bottom: 50px;
    padding-left: 25px;
  }
  .home .post article h1 strong {
    font-weight: 600;
  }

  .docs-prevnext {
    max-width: 960px;
    margin: 50px auto 30px auto;
  }

  .mainContainer .wrapper .post .postHeaderTitle {
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 558px) {
  .post {
    padding-top: 0px;
  }
  .post article {
    padding: 0 30px;
  }
  .post .home-grid a {
    width: 50%;
    color: #525f7f;
  }
  .navigationSlider .slidingNav ul li.navSearchWrapper {
    display: block;
    width: 300px;
  }
  .mainContainer .wrapper .post .postHeaderTitle {
    padding-left: 30px;
  }
  .post .card-grid,
  .post .home-grid {
    display: flex;
    justify-content: space-between;
  }
  .navPusher {
    padding-top: 140px;
  }
}

@media only screen and (min-width: 769px) {
  .post article {
    padding: 0;
  }
  .mainContainer .wrapper .post .postHeaderTitle {
    padding-bottom: 0px;
    padding-left: 0;
  }
  .navPusher {
    padding-top: 140px;
  }
  .navigationSlider .slidingNav ul li.navSearchWrapper {
    width: initial;
  }
}

@media only screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 0px;
  }
  .navigationSlider .slidingNav ul li {
    display: block;
  }
  .navigationSlider .slidingNav ul {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul {
    background: #fff;
  }
  .navigationSlider .slidingNav ul li a {
    color: #28234a;
  }
  .navigationSlider .slidingNav ul li.next {
    display: none;
  }
  .menuSection {
    display: none;
  }
}

@media only screen and (max-width: 735px) {
  .docs-prevnext .arrow-prev,
  .docs-prevnext .arrow-next {
    top: 15px !important;
  }
}
@media only screen and (max-width: 568px) {
  header a:nth-child(2) {
    display: none !important;
  }
  .navigationSlider .slidingNav ul {
    background: #fff;
    margin-top: 95px;
    display: block;
  }
  .navigationSlider .slidingNav ul li a {
    color: #28234a;
    justify-content: left;
    padding-left: 2rem;
    font-size: 20px;
  }
  .slidingNav .siteNavGroupActive.siteNavItemActive:after {
    bottom: 5px;
  }
  .reactNavSearchWrapper {
    position: relative;
    top: 85px !important;
    left: 20px;
    width: calc(100% - 40px);
  }
  .nav-site.nav-site-internal li:nth-child(1) {
    width: 24px;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  .nav-site.nav-site-internal {
    height: 0;
  }
  .nav-site.nav-site-internal.active {
    height: 100vh;
    border: solid 1px #eaeaea;
  }
  .nav-site.nav-site-internal.active .reactNavSearchWrapper {
    position: absolute;
    margin: 2rem 0 2rem 0;
  }
  .fixedHeaderContainer header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .fixedHeaderContainer header img.active {
    position: absolute;
    transform: none;
    left: 0;
  }

  .menuSection {
    width: 24px;
    height: 12px;
    display: block !important;
    background-image: url("../img/mobile-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .menuSpacer {
    display: block !important;
    height: 80px;
  }
  .nav-site.nav-site-internal.active .menuSection {
    background-image: url("../img/mobile-close-icon.svg");
    height: 12px;
    top: 35px;
    right: 25px;
    left: initial;
  }
}
