/* header & nav */
.fixedHeaderContainer {
  height: 90px;
  padding-top: 28px;
  background: #f6fafa;
}

.singleRowMobileNav.navPusher {
  padding-top: 90px;
}

.docsNavContainer {
  background: #f6fafa;
}

  .docsNavContainer .toc .navBreadcrumb {
    background: none;
    border: none;
  }

.toc .toggleNav .navGroup {
  border-bottom: 1px solid rgba(61,61,61,.1);
}

  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    font-size: 16px;
  }

  .toc .toggleNav .navGroup ul {
    margin-bottom: 8px;
    padding-left: 20px;
  }

    .toc .toggleNav ul li a {
      font-size: 16px;
    }

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer {
    position: static;
    padding: 0;
    background: none;
  }

  .headerWrapper {
    max-width: 100%;
    padding: 0;
  }

  .separateOnPageNav .wrapper,
  .separateOnPageNav .headerWrapper.wrapper {
    max-width: 100%;
  }

  .singleRowMobileNav.navPusher {
    padding-top: 0;
  }

  .docMainWrapper.wrapper {
    padding-left: 0;
  }

  .fixedHeaderContainer header:first-child {
    width: 363px;
    padding: 30px 0;
    padding-left: 50px;
    background: #f6fafa;
  }

  .container.docsNavContainer {
    flex: 0 0 363px;
    top: 0;
    padding: 0 56px;
    background: #f6fafa;
  }

  .toc {
    padding-top: 10px;
  }
}

/* Page nav */
.tocActive .onPageNav {
  padding-top: 16px;
}

.onPageNav:not(:empty)::before {
  content: "On this page";
  color: #3d3d3d;
  text-transform: uppercase;
}

.onPageNav > .toc-headings{
  padding-top: 20px;
}

  .onPageNav > .toc-headings > li {
    padding-bottom: 20px;
  }

    .onPageNav > .toc-headings > li > a {
      font-size: 14px;
    }

    .onPageNav .toc-headings > li > a.active {
      color: #3d3d3d;
      font-weight: normal;
    }

@media only screen and (min-width: 1024px) {
  .onPageNav {
    top: 145px;
  }

  .onPageNav > .toc-headings {
    border-left: none;
    padding-left: 0;
  }

  .onPageNav > .toc-headings a:hover {
    color: #3d3d3d;
  }
}

/* Footer */
.docs-footer {
  display: flex;
  align-items: stretch;
  border-top: 1px solid rgba(60,62,76,.05);
  margin: 0 20px;
  padding: 33px 0;
}

  .footer-icon {
    display: flex;
    align-items: center;
  }

  .footer-body {
    flex: 1;
    text-align: right;
  }

    .footer-body .wrapper {
      padding: 0;
    }

    .footer-body a span {
      font-size: 14px;
      color: #3d3d3d;
      opacity: .4;
    }
  
    .footer-body span {
      display: block;
    }

@media only screen and (min-width: 1024px) {
  .docs-footer {
    border-top: 0;
    margin: 0;
    padding: 0;
  }

    .footer-icon {
      width: 363px;
      padding-left: 50px;
      background: #f6fafa;
    }

      .footer-body .wrapper {
        border-top: 1px solid rgba(60,62,76,.05);
        margin: 0 40px;
        padding: 30px 0;
      }

      .footer-body a span {
        display: inline;
        margin-left: .25em;
      }
}

/* Limit post column to 700px */
@media only screen and (min-width: 1024px) {
  .post {
    width: 700px;
    margin: 0 auto;
  }
}