.docs-prevnext .docs-prev,
.docs-prevnext .docs-next {
  position: relative;
  padding: 20px 18px;
  white-space: nowrap;
  color: #3d3d3d;
  border-color: transparent;
}

.docs-prevnext .docs-prev:hover,
.docs-prevnext .docs-next:hover {
  background: #f1f6f6;
  border-color: #f1f6f6;
}

.docs-prevnext .docs-prev span:last-child::before,
.docs-prevnext .docs-next span:first-child::before {
  display: block;
  color: #21125e;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

.docs-prevnext .docs-prev span:last-child,
.docs-prevnext .docs-next span:first-child {
  display: block;
}

.docs-prevnext .docs-prev span:last-child::before {
  content: "Previous";
}

.docs-prevnext .docs-next span:first-child::before {
  content: "Next";
}

.docs-prevnext .arrow-prev,
.docs-prevnext .arrow-next {
  position: absolute;
  top: 24px;
  width: 24px;
  height: 24px;
  background-size: cover;
  color: transparent;
}

.docs-prevnext .docs-prev {
  padding-left: 64px;
}

.docs-prevnext .arrow-prev {
  left: 20px;
  background-image: url("../img/arrow-prev.svg");
}

.docs-prevnext .docs-next {
  padding-right: 64px;
}

.docs-prevnext .arrow-next {
  right: 20px;
  background-image: url("../img/arrow-next.svg");
}

@media only screen and (max-width: 735px) {
  .docs-prevnext .docs-prev,
  .docs-prevnext .docs-next {
    clear: none;
    padding: 12px 10px;
    width: 128px;
    background: #f1f6f6;
    color: #21125e;
  }

  .docs-prevnext .docs-prev {
    float: left;
    padding-left: 44px;
  }

  .docs-prevnext .docs-next {
    float: right;
    padding-right: 44px;
  }

  .docs-prevnext .docs-prev::before,
  .docs-prevnext .docs-next::after {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .docs-prevnext .docs-prev::before {
    content: "Previous";
  }

  .docs-prevnext .docs-next::after {
    content: "Next";
  }

  .docs-prevnext .docs-prev span:last-child,
  .docs-prevnext .docs-next span:first-child {
    clear: none;
    display: none;
  }

  .docs-prevnext .arrow-prev,
  .docs-prevnext .arrow-next {
    top: 8px;
  }

  .docs-prevnext .arrow-prev {
    left: 10px;
  }

  .docs-prevnext .arrow-next {
    right: 10px;
  }
}
