/* Make search input light */
.reactNavSearchWrapper input#search_input_react {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(40, 35, 74, 0.2);
  height: 48px;
  margin: 1px;
  color: #616161;
  font-size: 16px;
}

.reactNavSearchWrapper input#search_input_react:hover {
  background-color: #fff;
  border: 1px solid rgba(40, 35, 74, 0.8);
  margin: 1px;
}

.reactNavSearchWrapper input#search_input_react:focus,
.reactNavSearchWrapper input#search_input_react:active {
  background-color: #fff;
  border: 2px solid rgba(40, 35, 74, 0.8);
  margin: 0px;
  color: rgba(40, 35, 74, 0.8);
}

/* Reposition search input on mobile devices */
@media only screen and (max-width: 1023px) {
  .reactNavSearchWrapper input#search_input_react,
  .reactNavSearchWrapper input#search_input_react:hover,
  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .reactNavSearchWrapper {
    top: 27px;
    right: 20px;
  }
}

/* Reposition search input on desktop displays, make it bigger */
@media only screen and (min-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react,
  .reactNavSearchWrapper input#search_input_react:hover,
  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
  }

  .navSearchWrapper {
    position: absolute;
    left: 36px;
    top: 0px;
  }
}

/* Override search results styling */
.navSearchWrapper .algolia-autocomplete .aa-dropdown-menu {
  z-index: 999 !important;
  background-color: #fff;
  border: 0;
  box-shadow: 0px 4px 15px rgba(138, 125, 125, 0.15);
  padding: 8px 20px;
}

.navSearchWrapper
  .algolia-autocomplete
  .algolia-docsearch-suggestion--category-header {
  padding: 4px 0px;
  background: #fff;
  border: 0;
  color: #3d3d3d;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--highlight {
  background-color: #036dff;
}

.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--title
  .algolia-docsearch-suggestion--highlight,
.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--subcategory-column
  .algolia-docsearch-suggestion--highlight {
  color: #036dff;
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-suggestion__main {
  border-top: 1px solid #efefef;
}

.navSearchWrapper
  .algolia-autocomplete
  .aa-cursor
  .algolia-docsearch-suggestion {
  background: #edf5f8;
}

.navSearchWrapper
  .algolia-autocomplete
  .algolia-docsearch-suggestion__secondary {
  border-top: 0;
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-suggestion__main {
  border-top: 1px solid #efefef;
}

.navSearchWrapper
  .algolia-autocomplete
  .aa-suggestion:first-child
  .algolia-docsearch-suggestion__main {
  border-top: 0;
}

.navSearchWrapper
  .algolia-autocomplete
  .algolia-docsearch-suggestion--subcategory-column {
  background: #fff;
  color: #3d3d3d;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  padding: 13px 7px;
  padding-left: 0;
  border-right: 1px solid #efefef;
}

.navSearchWrapper
  .algolia-autocomplete
  .algolia-docsearch-suggestion__main
  .algolia-docsearch-suggestion--subcategory-column {
  border-top: 1px solid #efefef;
}

.navSearchWrapper
  .algolia-autocomplete
  .algolia-docsearch-suggestion__secondary
  .algolia-docsearch-suggestion--subcategory-column {
  border-top: 1px solid #efefef;
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-suggestion--content {
  border-top: 1px solid #efefef;
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.algolia-docsearch-suggestion--content {
  padding: 10px;
}

.algolia-autocomplete .aa-cursor .algolia-docsearch-suggestion--content {
  color: #3d3d3d;
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-footer {
  border-top: 1px solid #efefef;
  padding: 12px 0;
}
