html[class*="docs-doc-id-api-reference"] .markdown h4 a:nth-child(3) code,
html[class*="docs-doc-id-api-reference"] .markdown p a:nth-child(3) code {
  color: var(--teal11);
  background-color: var(--teal4);
}

html[class*="docs-doc-id-api-reference"] .markdown h4 a code {
  background-color: var(--purple4);
  border-radius: 4px;
  color: var(--purple11);
}

html[class*="docs-doc-id-api-reference"] .markdown h4 a code:hover {
  text-decoration: underline;
}
