html[class*="docs-doc-id-api-"]:not([class*="docs-doc-id-api-usage"])
  .markdown
  h4
  a:nth-child(3)
  code,
html[class*="docs-doc-id-api-"]:not([class*="docs-doc-id-api-usage"])
  .markdown
  p
  a:nth-child(3)
  code {
  color: var(--teal11);
  background-color: var(--teal4);
}

html[class*="docs-doc-id-api-"]:not([class*="docs-doc-id-api-usage"])
  .markdown
  a
  code:hover {
  text-decoration: underline;
}

html[class*="docs-doc-id-api-"]:not([class*="docs-doc-id-api-usage"])
  .theme-doc-sidebar-item-category-level-2
  .menu__link {
  overflow: hidden;
  text-overflow: ellipsis;
}

html[class*="docs-doc-id-api-"]:not([class*="docs-doc-id-api-usage"])
  .theme-doc-sidebar-item-link-level-3
  a {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--font-size-xs);
  letter-spacing: -0.3px;
}

html[class*="docs-doc-id-api-"]:not(
    [class*="docs-doc-id-api-usage"],
    [class*="docs-doc-id-api-reference/api-reference"]
  )
  h1:first-child {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacer-2);
}
