html[class*="docs-doc-id-api-reference"] .markdown h4 a:nth-child(3) code,
html[class*="docs-doc-id-api-reference"] .markdown p a:nth-child(3) code {
  color: var(--teal11);
  background-color: var(--teal4);
}

html[class*="docs-doc-id-api-reference"] .markdown a code {
  background-color: var(--purple4);
  border-radius: 4px;
  color: var(--purple11);
}

html[class*="docs-doc-id-api-reference"] .markdown a code:hover {
  text-decoration: underline;
}

html[class*="docs-doc-id-api-reference"]
  .theme-doc-sidebar-item-category-level-1
  .menu__list {
  padding-left: var(--spacer-2);
}

html[class*="docs-doc-id-api-reference"]
  .theme-doc-sidebar-item-link-level-3
  a {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--font-size-xs);
  letter-spacing: -0.3px;
}

html[class*="docs-doc-id-api-reference"]
  .theme-doc-sidebar-item-category-level-2
  .menu__list {
  padding-left: 0;
}

html[class*="docs-doc-id-api-reference"] h1:first-child {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacer-2);
}
