.ai-modal .prose {
  height: calc(500px - var(--docsearch-footer-height));
  margin-top: 1rem;
  background-color: var(--ifm-background-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
}

.ai-modal form {
  align-items: center;
  background: var(--docsearch-searchbox-focus-background);
  border-radius: 4px;
  box-shadow: var(--docsearch-searchbox-shadow);
  display: flex;
  height: var(--docsearch-searchbox-height);
  margin: 0;
  padding: 0 var(--docsearch-spacing);
  position: relative;
  width: 100%;
}

.ai-modal input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--docsearch-text-color);
  flex: 1;
  font: inherit;
  font-size: 1.2em;
  height: 100%;
  outline: none;
  padding: 0 0 0 8px;
  width: 80%;
}

.ai-modal .prompt-answer-done .caret,
.ai-modal .prompt-answer-loading :not(:last-child) .caret {
  display: none;
}
.ai-modal .prompt-answer-loading :last-child .caret {
  visibility: visible;
}
.ai-modal .prompt-answer pre {
  border-radius: 0.25rem !important;
  border-width: 1px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(38 38 38 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity)) !important;
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .ai-modal .prompt-answer pre {
  --ifm-color-content-inverse: invert(100%);
}

.ai-modal .animate-caret {
  animation-name: caret;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

.ai-modal .caret {
  width: 8px;
  height: 15px;
  background-color: var(--ifm-color-primary);
  border-radius: 1px;
}
