.ai-modal .animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

.ai-modal .animate-caret {
  animation-name: caret;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

html[data-theme="dark"] .ai-modal .prompt-answer pre {
  --ifm-color-content-inverse: invert(100%);
}

.ai-modal .prompt-answer-done .caret,
.ai-modal .prompt-answer-loading :not(:last-child) .caret {
  display: none;
}

.ai-modal .prompt-answer pre {
  border-radius: 0.25rem !important;
  border-width: 1px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(38 38 38 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity)) !important;
  color: var(--ifm-color-content-inverse);
}
