:root {
  --ifm-badge-padding-horizontal: 6px;
  --ifm-badge-padding-vertical: 4px;
}

.badge {
  border-radius: var(--spacer-1);
  font-weight: var(--ifm-font-weight-semibold);
  font-size: var(--font-size-sm);
}

.badge--danger {
  background-color: var(--red4);
  color: var(--red11);
  border-color: var(--red7);
}

.badge--secondary {
  color: var(--gray12);
}
