:root {
  --ifm-badge-padding-horizontal: 6px;
  --ifm-badge-padding-vertical: 4px;
}

.badge--secondary {
  background-color: rgb(245, 246, 248);
  color: rgb(19, 33, 49);
  border-color: rgba(19, 33, 49, 0.08);
  font-weight: var(--ifm-font-weight-semibold);
}

.badge--danger {
  background-color: rgb(255, 238, 235);
  color: rgb(148, 27, 0);
  border-color: rgba(235, 42, 0, 0.08);
  font-size: 70%;
  font-weight: var(--ifm-font-weight-semibold);
}
