:root {
  --ifm-code-border-radius: 14px;
  --ifm-code-padding-vertical: 2px;
  --ifm-code-padding-horizontal: 4px;
}

code:not(pre code) {
  border: 1px solid var(--gray5);
  border-radius: var(--spacer-1);
  color: var(--gray12);
  font-weight: 500;
}
