:root {
  --ifm-heading-color: var(--gray12);
}

.markdown a {
  --ifm-link-decoration: none;
  color: var(--highlight);
}

.markdown a code {
  background-color: var(--purple4);
  border-radius: 4px;
  color: var(--purple11);
}

@supports selector(a:has(code)) {
  .markdown a:has(code),
  .markdown a:has(code):hover {
    text-decoration: none;
  }
}

.markdown a:not(.card) {
  color: var(--highlight);
}
.markdown a:not(.card):hover {
  border-bottom-width: 2px;
}
.markdown a.hash-link {
  border-bottom-width: 0;
}

.markdown strong {
  color: var(--ifm-heading-color);
  font-weight: 600;
}

.markdown ul {
  list-style-type: none;
  padding: 0;
}
.markdown > ul {
  margin-top: var(--ifm-leading);
}
.markdown ul:not(.tabs) > li {
  padding-left: var(--spacer-3);
  position: relative;
}
.markdown ul:not(.tabs) > li::before {
  content: "";
  width: var(--spacer-2);
  height: 2px;
  position: absolute;
  top: calc(0.875em - 0.0625em);
  left: 0;
  border-radius: 100rem;
  background-color: var(--ifm-heading-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
