:root {
  --ifm-menu-link-padding-horizontal: 1.5rem;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --doc-sidebar-width: 320px !important;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.menu__link {
  font-size: var(--font-size-sm);
  color: var(--gray10);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.menu__link--active:not(.menu__link--sublist) {
  color: var(--gray12);
  font-weight: 600;
  background-color: transparent;
  border-radius: 0;
}

.menu__link--sublist {
  font-weight: 100;
}
.menu__link:hover,
.menu__list-item-collapsible,
.menu__list-item-collapsible:hover {
  background-color: transparent;
  color: var(--gray12);
}

.menu__caret {
  position: relative;
  right: 10px;
  padding: 8px;
  background-color: transparent;
}

.menu__link--sublist:hover ~ .menu__caret {
  background-color: var(--gray4);
}

.menu__caret:hover {
  background-color: var(--gray4);
}

.menu__link:before {
  position: absolute;
  content: "";
  left: 5px;
  background-color: var(--gray12);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transform: scale(0) translateY(200%);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.menu__link--active:not(.menu__link--sublist):before {
  position: absolute;
  content: "";
  left: 5px;
  background-color: var(--gray12);
  height: 8px;
  width: 8px;
  opacity: 1;
  border-radius: 50%;
  transform: scale(1) translateY(0);
}

.menu__link--active:not(.menu__link--sublist):hover {
  background-color: transparent;
}

.menu__link--active {
  font-weight: 600;
}
.menu__link--sublist {
  color: var(--gray12);
  font-weight: 600;
}

.menu__list-item > * {
  height: 2.2rem;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu__list:first-child {
  margin-top: 13px;
}
