:root {
  --ifm-menu-link-padding-horizontal: 1.5rem;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --doc-sidebar-width: 320px !important;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.menu__link {
  font-size: var(--font-size-sm);
  position: relative;
}

.menu__caret {
  position: relative;
  right: 10px;
  padding: 8px;
  background-color: transparent;
}

.menu__link--sublist:hover ~ .menu__caret {
}

.menu__caret:hover {
}

.menu__link--active {
  font-weight: 600;
}

.menu__list hr {
  background: transparent;
  height: 1em;
  margin: 0;
}
.menu__list .menu__list .menu__list-item {
  position: relative;
}
.menu__list .menu__list .menu__list-item:before {
  background-color: var(--gray4);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 8px;
  position: absolute;
  top: 0;
  width: 1px;
}

.menu__list-item:not(:first-child) {
  margin: 0;
}
.menu__list-item > * {
  height: 2.2rem;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu__list:first-child {
  margin-top: 13px;
}
