:root {
  --ifm-menu-link-padding-horizontal: var(--spacer-3);
  --ifm-menu-link-padding-vertical: 0.25rem;
  --doc-sidebar-width: 320px !important;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  padding: var(--ifm-menu-link-padding-horizontal) !important;
}

.menu__link {
  font-size: var(--font-size-sm);
  position: relative;
}

.menu__link:hover:not(.menu__link--active),
.menu__list-item-collapsible:hover {
  background-color: var(--gray2) !important;
}

.menu__caret {
  position: relative;
  right: 10px;
  padding: 8px;
  background-color: transparent;
}

.menu__link--sublist:hover ~ .menu__caret {
}

.menu__caret:hover {
}

.menu__link--active {
  font-weight: 600;
}

.menu__list hr {
  background: transparent;
  height: 1em;
  margin: 0;
}
.menu__list .menu__list .menu__list-item {
  position: relative;
}
.menu__list .menu__list .menu__list-item:before {
  background-color: var(--gray4);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 8px;
  position: absolute;
  top: 0;
  width: 1px;
}

.menu__list-item:not(:first-child) {
  margin: 0;
}
.menu__list-item > * {
  height: 2.2rem;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu__list:first-child {
  margin-top: 13px;
}

.menu__group-label {
  font-size: var(--font-size-xs);
  padding-left: var(--ifm-menu-link-padding-horizontal);
  padding-right: var(--ifm-menu-link-padding-horizontal);
  margin-bottom: var(--spacer-2);
  color: var(--gray9);
  text-transform: uppercase;
  font-family: var(--ifm-font-family-monospace);
}

.menu__group-label:before {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  content: "";
  display: block;
  height: 1px;
  background-color: var(--gray4);
}

.menu__backlink {
  margin-bottom: var(--spacer-3);
}
