:root {
  --ifm-navbar-padding-horizontal: var(--spacer-4);
  --ifm-navbar-height: 4rem;
  --ifm-menu-font-size: 0.875rem;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid rgba(22, 26, 30, 0.15);
}

.navbar__logo,
aside img {
  width: 98px;
  height: 26px;
}

.navbar__link {
  font-size: 0.875rem;
  color: var(--ifm-color-primary-dark);
}

.navbar__link--active {
  color: var(--ifm-color-primary);
}
.navbar-sidebar__back {
  display: none;
}

.signup-button-cta {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0.75rem;
  border-radius: 0.375rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  transition: 0.2s;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid;
}

html[data-theme="light"] .signup-button-cta {
  background-color: rgb(22, 26, 30);
  color: white;
}

html[data-theme="light"] .signup-button-cta:hover {
  background-color: black;
  color: white;
}

html[data-theme="dark"] .signup-button-cta:hover {
  background-color: transparent;
  color: white;
}

.navbar__items--right {
  flex-direction: row-reverse;
}
