:root {
  --ifm-navbar-padding-horizontal: 0;
  --ifm-navbar-height: 4rem;
  --ifm-menu-font-size: 0.875rem;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid rgba(22, 26, 30, 0.15);
}

.navbar__inner {
  max-width: var(--ifm-container-width-xl);
  margin: 0 auto;
  width: 100%;
}

.navbar__brand {
  margin: 0;
}

.navbar__logo img {
  width: 98px;
  height: 26px;
}

.navbar__link {
  font-weight: var(--ifm-font-weight-normal);
  font-size: 0.875rem;
}
