:root {
  --ifm-navbar-padding-horizontal: var(--spacer-4);
  --ifm-navbar-height: 4rem;
  --ifm-menu-font-size: 0.875rem;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid rgba(22, 26, 30, 0.15);
}

.navbar__logo,
aside img {
  width: 98px;
  height: 26px;
}

.navbar__link {
  font-size: 0.875rem;
  color: var(--ifm-color-primary-dark);
}

.navbar__link--active {
  color: var(--ifm-color-primary);
}
.navbar-sidebar__back {
  display: none;
}

.signup-button-cta {
  border-color: black;
  border-width: 1px;
  border: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  font-weight: 600;
}
