:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

:root[data-theme="dark"] {
  --docsearch-hit-active-color: var(--ifm-background-surface-color);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
  }

  @media screen and (min-width: 996px) {
    .DocSearch-Button {
      width: 20rem;
    }

    div:has(> .DocSearch-Button) {
      margin-left:12rem
    }
  }

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}
 
