:root {
  --ifm-toc-link-color: var(--gray9);
}

.table-of-contents {
  font-size: var(--font-size-xs);
  font-weight: var(--ifm-font-weight-semibold);
}

.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0;
  padding: 0;
}

.table-of-contents a {
  padding-top: var(--spacer-1);
  padding-bottom: var(--spacer-1);
  border-left: 1px solid var(--gray8);
}

.table-of-contents > li a {
  padding-left: var(--spacer-3);
}

.table-of-contents > li ul a {
  padding-left: var(--spacer-5);
}

a.table-of-contents__link--active {
  border-left: 1px solid var(--gray12);
}
a.table-of-contents__link--active,
a.table-of-contents__link--active code {
  color: var(--gray12);
}

.table-of-contents__left-border {
  border-left: 0;
}

.table-of-contents code {
  color: var(--ifm-toc-link-color);
  font-size: var(--font-size-xs);
  font-family: var(--ifm-font-family-base);
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
}
