.permissions {
  line-height: 1.5rem;
  vertical-align: baseline;
  display: flex;
  border-left: var(--ifm-blockquote-border-left-width) solid
    var(--ifm-blockquote-border-color);
  padding-left: var(--ifm-blockquote-padding-horizontal);
}

.permissions span {
  font-size: var(--font-size-xs) !important;
}

.svg {
  font-weight: 600;
}
