.message {
  width: 100%;
  border-width: var(--ifm-global-border-width);
  border-radius: var(--ifm-global-radius);
  border-color: var(--ifm-toc-border-color);
  font-family: var(--ifm-font-family-base);
  padding: 0.75rem;
  margin: 0.75rem 0;
}

@media (max-width: 576px) {
  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    justify-content: center;
  }
}
