.forward-enter {
  opacity: 0;
  transform: translateX(10%);
}
.forward-exit {
  opacity: 1;
}
.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.forward-exit-active {
  opacity: 0;
  transform: translateX(-10%);
}

.forward-enter-active,
.forward-exit-active {
  transition: all 200ms;
}

.back-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.back-exit {
  opacity: 1;
}
.back-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.back-exit-active {
  opacity: 0;
  transform: translateX(10%);
}
.back-enter-active,
.back-exit-active {
  transition: all 200ms;
}
