.forward-enter {
  opacity: 0;
  transform: translateX(10%);
}
.forward-exit {
  opacity: 1;
}
.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.forward-exit-active {
  opacity: 0;
  transform: translateX(-5%);
}

.forward-enter-active,
.forward-exit-active {
  transition: all 150ms;
}

.back-enter {
  opacity: 0;
  transform: translateX(-5%);
}
.back-exit {
  opacity: 1;
}
.back-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.back-exit-active {
  opacity: 0;
  transform: translateX(5%);
}
.back-enter-active,
.back-exit-active {
  transition: all 150ms;
}

.arrow-pointer span:after {
  mask-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L4.70711 3.29289C5.09763 3.68342 5.09763 4.31658 4.70711 4.70711L1.70711 7.70711C1.31658 8.09763 0.683417 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L2.58579 4L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='black'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--gray12);
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  opacity: 0;
  content: "";
  transform: translateX(-50%);
  transition: transform, opacity, 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
}

.arrow-pointer:hover span:after {
  transform: translateX(10%);
  opacity: 1;
}
