:root {
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);

  --teal1: hsl(165, 60%, 98.8%);
  --teal2: hsl(169, 64.7%, 96.7%);
  --teal3: hsl(169, 59.8%, 94%);
  --teal4: hsl(169, 53.1%, 90.2%);
  --teal5: hsl(170, 47.1%, 85%);
  --teal6: hsl(170, 42.6%, 77.9%);
  --teal7: hsl(170, 39.9%, 68.1%);
  --teal8: hsl(172, 42.1%, 52.5%);
  --teal9: hsl(173, 80%, 36%);
  --teal10: hsl(173, 83.4%, 32.5%);
  --teal11: hsl(174, 90%, 25.2%);
  --teal12: hsl(170, 50%, 12.5%);

  --red1: hsl(359, 100%, 99.4%);
  --red2: hsl(359, 100%, 98.6%);
  --red3: hsl(360, 100%, 96.8%);
  --red4: hsl(360, 97.9%, 94.8%);
  --red5: hsl(360, 90.2%, 91.9%);
  --red6: hsl(360, 81.7%, 87.8%);
  --red7: hsl(359, 74.2%, 81.7%);
  --red8: hsl(359, 69.5%, 74.3%);
  --red9: hsl(358, 75%, 59%);
  --red10: hsl(358, 69.4%, 55.2%);
  --red11: hsl(358, 65%, 48.7%);
  --red12: hsl(354, 50%, 14.6%);

  --purple1: hsl(280, 65%, 99.4%);
  --purple2: hsl(276, 100%, 99%);
  --purple3: hsl(276, 83.1%, 97%);
  --purple4: hsl(275, 76.4%, 94.7%);
  --purple5: hsl(275, 70.8%, 91.8%);
  --purple6: hsl(274, 65.4%, 87.8%);
  --purple7: hsl(273, 61%, 81.7%);
  --purple8: hsl(272, 60%, 73.5%);
  --purple9: hsl(272, 51%, 54%);
  --purple10: hsl(272, 46.8%, 50.3%);
  --purple11: hsl(272, 50%, 45.8%);
  --purple12: hsl(272, 66%, 16%);

  --ifm-color-primary: var(--gray12);
  --ifm-color-primary-dark: var(--gray11);
  --ifm-color-secondary: var(--gray3);

  --app-metadata-link-color: #0d6ef7; /* Border brand subdued */
  --highlight: #056dff;
}

html[data-theme="dark"] {
  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);

  --teal1: hsl(168, 48%, 6.5%);
  --teal2: hsl(169, 77.8%, 7.1%);
  --teal3: hsl(170, 76.1%, 9.2%);
  --teal4: hsl(171, 75.8%, 11%);
  --teal5: hsl(171, 75.7%, 12.8%);
  --teal6: hsl(172, 75.8%, 15.1%);
  --teal7: hsl(172, 76.7%, 18.6%);
  --teal8: hsl(173, 80.2%, 23.7%);
  --teal9: hsl(173, 80%, 36%);
  --teal10: hsl(174, 83.9%, 38.2%);
  --teal11: hsl(174, 90%, 40.7%);
  --teal12: hsl(166, 73%, 93.1%);

  --red1: hsl(353, 23%, 9.8%);
  --red2: hsl(357, 34.4%, 12%);
  --red3: hsl(356, 43.4%, 16.4%);
  --red4: hsl(356, 47.6%, 19.2%);
  --red5: hsl(356, 51.1%, 21.9%);
  --red6: hsl(356, 55.2%, 25.9%);
  --red7: hsl(357, 60.2%, 31.8%);
  --red8: hsl(358, 65%, 40.4%);
  --red9: hsl(358, 75%, 59%);
  --red10: hsl(358, 85.3%, 64%);
  --red11: hsl(358, 100%, 69.5%);
  --red12: hsl(351, 89%, 96%);

  --purple1: hsl(284, 20%, 9.6%);
  --purple2: hsl(283, 30%, 11.8%);
  --purple3: hsl(281, 37.5%, 16.5%);
  --purple4: hsl(280, 41.2%, 20%);
  --purple5: hsl(279, 43.8%, 23.3%);
  --purple6: hsl(277, 46.4%, 27.5%);
  --purple7: hsl(275, 49.3%, 34.6%);
  --purple8: hsl(272, 52.1%, 45.9%);
  --purple9: hsl(272, 51%, 54%);
  --purple10: hsl(273, 57.3%, 59.1%);
  --purple11: hsl(275, 80%, 71%);
  --purple12: hsl(279, 75%, 95.7%);

  --app-metadata-link-color: #0d6ef7; /* Border brand subdued */

  --highlight: #056dff;
}
