@import url("@radix-ui/colors/purple.css");
@import url("@radix-ui/colors/purpleDark.css");
@import url("@radix-ui/colors/yellow.css");
@import url("@radix-ui/colors/yellowDark.css");
@import url("@radix-ui/colors/red.css");
@import url("@radix-ui/colors/redDark.css");
@import url("@radix-ui/colors/grayDark.css");
@import url("@radix-ui/colors/green.css");
@import url("@radix-ui/colors/greenDark.css");
@import url("@radix-ui/colors/blue.css");
@import url("@radix-ui/colors/blueDark.css");
@import url("@radix-ui/colors/indigo.css");
@import url("@radix-ui/colors/indigoDark.css");
@import url("@radix-ui/colors/violet.css");
@import url("@radix-ui/colors/violetDark.css");
@import url("@radix-ui/colors/grass.css");
@import url("@radix-ui/colors/grassDark.css");
@import url("@radix-ui/colors/teal.css");
@import url("@radix-ui/colors/tealDark.css");

:root {
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);

  --ifm-color-primary: var(--gray12);
  --ifm-color-primary-dark: var(--gray11);
  --ifm-color-secondary: var(--gray3);
  --ifm-background-color: var(--gray1) !important;
}

html[data-theme="dark"] {
  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);
}
