@import url("fonts.css");

:root {
  --docusaurus-link-font-weight: 600;
  --ifm-alert-foreground-color: var(--ifm-heading-color);
  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-background-color: #fff;
  --ifm-badge-color: #334155;
  --ifm-blockquote-color: var(--ifm-font-color-base);
  --ifm-card-background-color: transparent;
  --ifm-card-border-radius: var(--ifm-pagination-border-radius);
  --ifm-code-background: rgba(80, 80, 120, 0.1);
  --ifm-code-border-radius: 0.125rem;
  --ifm-code-color: #000;
  --ifm-code-font-size: 0.875rem;
  --ifm-color-primary: rgb(5, 109, 255);
  --ifm-color-secondary: #dbe3ec;
  --ifm-font-color-base: #334155;
  --ifm-font-family-base: "Inter var", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --ifm-font-family-monospace: "Fira Code VF", ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ifm-heading-color: #000;
  --ifm-h1-font-size: 1.875rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.75rem;
  --ifm-list-item-margin: 0.5rem;
  --ifm-menu-color: #334155;
  --ifm-menu-font-size: 0.8rem;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --ifm-navbar-background-color: rgba(255, 255, 255, 1);
  --ifm-spacing-horizontal: 2rem;
  --ifm-toc-link-color: var(--ifm-font-color-base);
  --ifm-badge-padding-horizontal: 6px;
  --ifm-badge-padding-vertical: 4px;
}

.theme-admonition {
  --ifm-link-decoration: none;
}

.badge--secondary {
  background-color: rgb(245, 246, 248);
  color: rgb(19, 33, 49);
  border-color: rgba(19, 33, 49, 0.08);
  font-weight: var(--ifm-font-weight-semibold);
}

.badge--danger {
  background-color: rgb(255, 238, 235);
  color: rgb(148, 27, 0);
  border-color: rgba(235, 42, 0, 0.08);
  font-size: 70%;
  font-weight: var(--ifm-font-weight-semibold);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.markdown {
  --ifm-font-size-base: 1.125rem;
  --ifm-line-height-base: 1.75;
  --ifm-link-hover-decoration: none;
  --ifm-heading-vertical-rhythm-bottom: 0.66;
  --ifm-heading-vertical-rhythm-top: 2;
}

.markdown a:not(.card) {
  border-bottom: 1px solid var(--ifm-link-color);
  color: var(--ifm-heading-color);
  font-weight: var(--docusaurus-link-font-weight);
}

.markdown a:not(.card):hover {
  border-bottom-width: 2px;
}

.markdown a.hash-link {
  border-bottom-width: 0;
  color: var(--ifm-link-color);
}

.markdown code {
  border-color: transparent;
  color: var(--ifm-code-color);
  font-weight: 500;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 1.875rem;
  --ifm-heading-font-weight: 800;
}

.markdown h2 {
  --ifm-h2-font-size: 1.5rem;
}

.markdown h3 {
  --ifm-h3-font-size: 1.25rem;
}

.markdown h4 {
  --ifm-h4-font-size: 1rem;
}

.markdown h5 {
  --ifm-h5-font-size: 0.75rem;
  text-transform: uppercase;
}

.markdown strong {
  color: var(--ifm-heading-color);
  font-weight: 600;
}

.markdown ul {
  list-style-type: none;
  padding: 0;
}

.markdown > ul {
  margin-top: var(--ifm-leading);
}

.markdown ul:not(.tabs) > li {
  padding-left: 1.75rem;
  position: relative;
}

.markdown ul:not(.tabs) > li::before {
  content: "";
  width: 0.75rem;
  height: 0.125rem;
  position: absolute;
  top: calc(0.875em - 0.0625em);
  left: 0;
  border-radius: 100rem;
  background-color: var(--ifm-heading-color);
}

.menu__list {
  font-size: var(--ifm-menu-font-size);
}

.menu__list li > ul {
  margin-bottom: 1rem;
}

.menu__link--active {
  font-weight: 600;
}

.menu__link--sublist {
  color: var(--ifm-heading-color);
  font-weight: 600;
}

.docusaurus-mermaid-container svg {
  display: block;
  margin: 0 auto;
}

a.card {
  --ifm-heading-color: var(--ifm-color-primary);
  color: inherit;
}

html[data-theme="light"] {
  --docusaurus-highlighted-code-line-bg: #dbe3ec;
}

html[data-theme="dark"] {
  --ifm-code-color: #e2e8f0;
  --docusaurus-highlighted-code-line-bg: #43465b;
  --ifm-background-color: #000;
  --ifm-badge-color: #94a3b8;
  --ifm-color-primary: #8ac4eb;
  --ifm-color-secondary: #43465b;
  --ifm-color-secondary-darkest: #43465b;
  --ifm-heading-color: #e2e8f0;
  --ifm-font-color-base: #94a3b8;
  --ifm-menu-color: #94a3b8;
  --ifm-navbar-background-color: rgba(0, 0, 0, 0.8);
}

.ai-modal .prompt-answer-done .caret,
.ai-modal .prompt-answer-loading :not(:last-child) .caret {
  display: none;
}

.ai-modal .prompt-answer pre {
  border-radius: 0.25rem !important;
  border-width: 1px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(38 38 38 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity)) !important;
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .ai-modal .prompt-answer pre {
  --ifm-color-content-inverse: invert(100%);
}

.ai-modal .animate-caret {
  animation-name: caret;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

@keyframes caret {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ai-modal .animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1000px) {
  .navbar {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
