.cardGrid {
  position: relative;
  gap: var(--spacer-3);
  color: var(--gray12);
  container-type: inline-size;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-3);
  width: 100%;
}

@container (width < 800px) {
  .container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@container (width < 400px) {
  .container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.cardGrid p > a {
  border-radius: var(--ifm-card-border-radius);
  color: inherit !important;
  display: flex;
  flex-direction: column;
  height: 200px;
  font-size: var(--font-size-sm);
  padding: 2rem;
  border: 1px solid var(--gray5);
  box-shadow: var(--shadow-sm);
  transition: border-color, box-shadow, 0.3s;
}

.cardGrid a:not(.card):active,
.cardGrid a:not(.card):hover {
  border: 1px solid var(--gray7);
}

.cardGrid a strong {
  color: var(--gray12);
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacer-2);
}
.cardGrid .container svg {
  margin-bottom: var(--spacer-3);
}

.cardGrid strong:after {
  mask-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L4.70711 3.29289C5.09763 3.68342 5.09763 4.31658 4.70711 4.70711L1.70711 7.70711C1.31658 8.09763 0.683417 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L2.58579 4L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='black'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--gray12);
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  opacity: 0;
  content: "";
  transform: translateX(-50%);
  transition: transform, opacity, 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
}

.cardGrid article:hover strong:after {
  transform: translateX(10%);
  opacity: 1;
}

.cardGrid a:link,
.cardGrid a:visited,
.cardGrid a:hover,
.cardGrid a:active {
  text-decoration: none;
}

.cardGrid article {
  position: relative;
}

.cardGrid article:before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    70% 70% at 0% 0%,
    rgba(0, 0, 0, 0.03),
    transparent
  );
  border-radius: var(--ifm-card-border-radius);
  transform-origin: top left;
}

.cardGrid article:hover:before {
  transform: scale(1.8);
}

.cardGrid svg {
  color: var(--gray9);
  transition: color 0.3s;
}
.cardGrid article:hover svg {
  color: var(--gray12);
}
