.cardGrid {
  position: relative;
  gap: var(--spacer-3);
  color: var(--gray12);
  container-type: inline-size;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-3);
  width: 100%;
}

@container (width < 800px) {
  .container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

/* Cards with icons */
.homeGrid article > * {
  margin: 0;
  position: relative;
  height: 100%;
}

.homeGrid a:not(.card),
.cardGrid a:not(.card) {
  border-radius: var(--ifm-card-border-radius);
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 200px;
  font-size: var(--font-size-sm);
  font-weight: normal;
  padding: 2rem;
  border: 1px solid var(--gray5);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  box-shadow: var(--shadow-sm);
}

.cardGrid a:not(.card):active,
.cardGrid a:not(.card):hover {
  border: 1px solid var(--gray7);
}

.cardGrid a strong {
  display: block;
  color: var(--gray12);
  font-size: var(--font-size-sm);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin-bottom: var(--spacer-2);
}
.cardGrid .container div {
  margin-bottom: var(--spacer-3);
  color: var(--gray12);
  border-radius: 20px;
  width: 32px;
}

.cardGrid strong:after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 2.29289C4.68342 1.90237 5.31658 1.90237 5.70711 2.29289L8.70711 5.29289C9.09763 5.68342 9.09763 6.31658 8.70711 6.70711L5.70711 9.70711C5.31658 10.0976 4.68342 10.0976 4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289L6.58579 6L4.29289 3.70711C3.90237 3.31658 3.90237 2.68342 4.29289 2.29289Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  opacity: 0;
  content: "";
  transform: translateX(-50%);
  transition: transform, opacity, 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
}

.cardGrid article:hover strong:after {
  transform: translateX(10%);
  opacity: 1;
}

.cardGrid a:link,
.cardGrid a:visited,
.cardGrid a:hover,
.cardGrid a:active {
  text-decoration: none;
}

/* Make grids responsive*/

/* Add spacing between grids and sections */
h2 + .cardGrid {
  margin-top: var(--ifm-spacing-vertical);
}

.cardGrid + h2 {
  padding-top: 20px;
}

.cardGrid article {
  position: relative;
}

.cardGrid article:before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    70% 70% at 0% 0%,
    rgba(0, 0, 0, 0.03),
    transparent
  );
  transition: transform 0.2s linear;
  border-radius: var(--ifm-card-border-radius);
  transform-origin: top left;
}

.cardGrid article:hover:before {
  transform: scale(1.8);
}

.cardGrid svg {
  color: var(--gray9);
  transition: color 0.2s linear;
}
.cardGrid article:hover svg {
  color: var(--gray12);
}
