.cardGrid {
  position: relative;
  display: grid;
  gap: var(--spacer-3);
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  color: var(--gray12);
}

/* Cards with icons */
.homeGrid article > * {
  margin: 0;
  position: relative;
  height: 100%;
}

.homeGrid a:not(.card),
.cardGrid a:not(.card) {
  border-radius: var(--ifm-card-border-radius);
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 200px;
  font-size: var(--font-size-sm);
  font-weight: normal;
  padding: 2rem;
  border: 1px solid var(--gray5);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  /*box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);*/
  box-shadow: var(--shadow-sm);
}

.cardGrid a:not(.card):active,
.cardGrid a:not(.card):hover {
  border: 1px solid var(--gray7);
}

.cardGrid a strong {
  display: block;
  color: var(--gray12);
  font-size: var(--font-size-sm);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}
.cardGrid div {
  margin-bottom: var(--spacer-3);
  color: var(--gray12);
  border-radius: 20px;
  width: 32px;
}

.cardGrid a:link,
.cardGrid a:visited,
.cardGrid a:hover,
.cardGrid a:active {
  text-decoration: none;
}

/* Make grids responsive*/

/* Add spacing between grids and sections */
h2 + .cardGrid {
  margin-top: var(--ifm-spacing-vertical);
}

.cardGrid + h2 {
  padding-top: 20px;
}

.cardGrid article {
  position: relative;
}

.cardGrid article:before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    40% 40% at 0% 0%,
    rgba(0, 0, 0, 0.02),
    transparent
  );
  transition: transform 0.2s linear;
  border-radius: var(--ifm-card-border-radius);
  transform-origin: top left;
}

.cardGrid article:hover:before {
  transform: scale(1.4);
}
