.root {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--gray5);
  background: var(--docsearch-hit-active-color);
  margin-bottom: 20px;
}

.root > *:not(:last-of-type) {
  border-right: 1px solid var(--gray5);
  padding-right: 20px;
}

.root a {
  color: var(--app-metadata-link-color) !important;
}
