name: Update 3.x docs to the latest Saleor release

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 20 * * 1-5" # workdays at 20:00

jobs:
  check_saleor_release:
    name: Update API reference based on the latest Saleor release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest release info
        id: release
        run: |
          echo "Fetching latest release info..."
          latest_release=$(curl -s https://api.github.com/repos/saleor/saleor/releases/latest)
          echo "tag=$(echo $latest_release | jq -r '.tag_name')" >> "$GITHUB_OUTPUT"
          echo "has_schema=$(echo $latest_release | jq -e '.assets[] | select(.name == "schema.graphql") | length > 0')" >> "$GITHUB_OUTPUT"

      - name: Download schema.graphql
        run: |
          if [[ "${{ steps.release.outputs.has_schema }}" == "true" ]]; then
            echo "schema.graphql is attached to the ${{ steps.release.outputs.tag }} release, updating API reference..."
            echo "browser_download_url=$(curl -s https://api.github.com/repos/saleor/saleor/releases/164599978 | jq -e '.assets[] | select(.name == "schema.graphql") | .browser_download_url'
            curl -L -o schema-test.graphql -H "Accept: application/octet-stream" $ASSET_URL
          else
            echo "schema.graphql is not attached to the ${{ steps.release.outputs.tag }} release, exiting..."
            exit 1
          fi

      - uses: bahmutov/npm-install@v1

      - name: Update API reference
        run: npm run update-api-reference

      - name: Lint changes
        run: npx pretty-quick

      - name: Show changed files
        run: git status

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: bot-update-api-reference
          commit-message: "Update API reference to the ${{ steps.release.outputs.tag }} Saleor release"
          title: "Update API reference to the ${{ steps.release.outputs.tag }} Saleor release"
          body: |
            Pull request auto-generated by bot
          labels: |
            :robot: bot
