name: Update CLI docs

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "10 20 * * 1-5" # workdays at 20:10

env:
  HUSKY: 0

jobs:
  check_saleor_release:
    name: Update CLI docs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Checkout CLI repository
        uses: actions/checkout@v4
        with:
          repository: saleor/cli
          path: cli

      - name: Remove docs/cli
        run: rm -rf docs/cli

      - name: Copy CLI docs
        run: cp -r cli/docs/cli docs/

      - name: Remove CLI repository
        run: rm -rf cli

      - run: npm ci

      - name: Lint changes
        run: npm run lint

      - name: Show changed files
        run: git status

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: bot-update-cli-3.x
          commit-message: "Update CLI docs"
          title: "Update CLI docs"
          body: |
            Pull request auto-generated by bot
          labels: |
            :robot: bot
