.root {
  container-type: inline-size;
}
.container {
  --hover-color: var(--gray12);
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: var(--spacer-3);
  flex-wrap: wrap;
}

@container (width < 500px) {
  .container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

.app {
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--gray11) !important;
}

.app span {
  color: var(--gray12) !important;
}

.app:hover {
  color: var(--hover-color) !important;
}

.app:hover {
  text-decoration: none !important;
}

.shell {
  margin-right: var(--spacer-2);
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--gray9);
  border-color: var(--gray7);
  background-image: linear-gradient(0deg, var(--gray2) 0%, var(--gray1) 100%);
}

.app:hover .shell {
  border-color: var(--hover-color);
}
